name: Build

on:
  push:
  pull_request:
    branches: [main]

jobs:
  linux-build:
    runs-on: ubuntu-latest
    timeout-minutes: 4
    env:
      CC: clang
      CFLAGS: -Werror
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
            sudo apt update
            sudo apt install libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev libwayland-dev libxkbcommon-dev
            sudo apt install mesa-common-dev libgl1-mesa-dev
      - name: Configure
        run: cmake -S . -B build
      - name: Build
        run: cmake --build build
