name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: sudo apt install libwayland-dev libxkbcommon-dev xorg-dev
      - name: Configure
        run: cmake -S . -B build
      - name: Build
        run: cmake --build build
